<div class="header-container">

    <div class="header-wrapper left">

        <div class="header-logo">
            <img src="../../assets/images/logo-design-49570.png" alt="">
        </div>

        <!-- Suche, Favorites, Dashboard, Workspace, Kontakte -->

        <div class="header-button-bg-1">
            <div class="header-button-bg-2">
                <div class="header-button-wrapper" style="margin-left: 0px;">
                    <span class="icon-search" style="font-size: 1.6em; position: relative; top: -1px;"></span>
                </div>
            </div>
        </div>

        <div [ngClass]="ngClassItemFavorites">
            <div class="header-button-bg-2">
                <div class="header-button-wrapper">
                    <span class="icon-star" style="color: #fff982; font-size: 1.6em; position: relative; top: -1px;"></span>
                </div>
            </div>
        </div>

        <div [ngClass]="ngClassItemDashboard" routerLink="/private/dashboard" (click)="setClassToItem('/private/dashboard')">
            <div class="header-button-bg-2">
                <div class="header-button-wrapper">
                    <span class="icon-grid"></span>
                </div>
            </div>
        </div>

        <div [ngClass]="ngClassItemWorkspace" routerLink="/private/workspace" (click)="setClassToItem('/private/workspace')">
            <div class="header-button-bg-2">
                <div class="header-button-wrapper full">
                    <span class="icon-pencilwrench"></span>
                    <span class="button-value">Workspace</span>
                </div>
            </div>
        </div>

        <div [ngClass]="ngClassItemContacts" routerLink="/private/contacts" (click)="setClassToItem('/private/contacts')">
            <div class="header-button-bg-2">
                <div class="header-button-wrapper full">
                    <span class="icon-handshake-o"></span>
                    <span class="button-value">Kontakte</span>
                </div>
            </div>
        </div>

        <div [ngClass]="ngClassItemDropdown">
            <div class="header-button-bg-2">
                <div class="dropdown">
                    <div class="header-button-wrapper full drop-button">
                        <span class="button-value">Dropdown</span>
                        <span class="icon-arrow-drop-down icon-end"></span>
                    </div>
                    <div class="drop-content-container">
                        <div class="drop-content-wrapper">
                            Dropdown-Content
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="header-wrapper right">
        right
    </div>

</div>
