<div class="header-container">

    <div class="header-wrapper left">

        <!-- LOGO -->
        <!-- **** -->
        <div class="header-logo">
            <img src="../../assets/images/logo-design-49570.png" alt="" routerLink="/private/dashboard" (click)="setClassToItem('/private/dashboard')">
        </div>

        <!-- SEARCHING - DROPDOWN -->
        <!-- ******************** -->
        <div class="header-button-bg-1">
            <div class="header-button-bg-2">
                <div class="header-button-wrapper" style="margin-left: 0px;">
                    <span class="icon-search" style="font-size: 1.6em; position: relative; top: -1px;"></span>
                </div>
            </div>
        </div>

        <!-- FAVORITES - DROPDOWN -->
        <!-- ******************** -->
        <div [ngClass]="ngClassItemFavorites">
            <div class="header-button-bg-2">
                <div class="header-button-wrapper">
                    <span class="icon-star" style="color: #fff982; font-size: 1.6em; position: relative; top: -1px;"></span>
                </div>
            </div>
        </div>

        <!-- MENU ITEM - DASHBOARD -->
        <!-- ********************* -->
        <div [ngClass]="ngClassItemDashboard" routerLink="/private/dashboard" (click)="setClassToItem('/private/dashboard')">
            <div class="header-button-bg-2">
                <div class="header-button-wrapper full">
                    <span class="icon-grid"></span>
                    <span class="button-value">Dashboard</span>
                </div>
            </div>
        </div>

        <!-- MENU ITEM - WORKSPACE -->
        <!-- ********************* -->
        <div [ngClass]="ngClassItemWorkspace">
            <div class="header-button-bg-2">
                <div class="dropdown">
                    <div class="header-button-wrapper full drop-button">
                        <span class="icon-pencilwrench"></span>
                        <span class="button-value">Workspace</span>
                    </div>
                    <div class="drop-content-container">
                        <div class="drop-content-wrapper">
                            <button class="submenu-button" routerLink="/private/tasks" (click)="setClassToItem('/private/workspace')">
                                Aufgaben
                            </button>
                            <button class="submenu-button" routerLink="/private/planner" (click)="setClassToItem('/private/workspace')">
                                Planner
                            </button>
                            <button class="submenu-button" routerLink="/private/campagne" (click)="setClassToItem('/private/workspace')">
                                Kampagnen
                            </button>
                            <button class="submenu-button" routerLink="/private/email" (click)="setClassToItem('/private/workspace')">
                                E-Mail
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MENU ITEM - CONTACTS -->
        <!-- ******************** -->
        <div [ngClass]="ngClassItemContacts">
            <div class="header-button-bg-2">
                <div class="dropdown">
                    <div class="header-button-wrapper full drop-button">
                        <span class="icon-handshake-o"></span>
                        <span class="button-value">Kontakte</span>
                    </div>
                    <div class="drop-content-container">
                        <div class="drop-content-wrapper">
                            <button class="submenu-button" routerLink="/private/company" (click)="setClassToItem('/private/contacts')">
                                Unternehmen
                            </button>
                            <button class="submenu-button" routerLink="/private/suppliers" (click)="setClassToItem('/private/contacts')">
                                Lieferanten
                            </button>
                            <button class="submenu-button" routerLink="/private/contacts" (click)="setClassToItem('/private/contacts')">
                                Ansprechpartner
                            </button>
                            <button class="submenu-button" routerLink="/private/user" (click)="setClassToItem('/private/contacts')">
                                Benutzer
                            </button>
                            <button class="submenu-button" routerLink="/private/modul-permissions" (click)="setClassToItem('/private/contacts')">
                                Modulberechtigungen
                            </button>
                            <button class="submenu-button" routerLink="/private/information-groups" (click)="setClassToItem('/private/contacts')">
                                Informationsgruppen
                            </button>
                            <button class="submenu-button" routerLink="/private/debitor-data" (click)="setClassToItem('/private/contacts')">
                                Debitor Daten
                            </button>
                            <button class="submenu-button" routerLink="/private/addresses" (click)="setClassToItem('/private/contacts')">
                                Adressen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PLACEHOLDER - ELEMENT -->
        <!-- ********************* -->
        <div [ngClass]="ngClassItemPlaceholder">
            <div class="header-button-bg-2" style="width: 8px;">
                &nbsp;
            </div>
        </div>


        <!-- DROPDOWN - EXAMPLE -->
        <!-- ****************** -->
        <!-- <div [ngClass]="ngClassItemDropdown">
            <div class="header-button-bg-2">
                <div class="dropdown">
                    <div class="header-button-wrapper full drop-button">
                        <span class="button-value">Dropdown</span>
                        <span class="icon-arrow-drop-down icon-end"></span>
                    </div>
                    <div class="drop-content-container">
                        <div class="drop-content-wrapper">
                            Dropdown-Content
                        </div>
                    </div>
                </div>
            </div>
        </div> -->



    </div>

    <div class="header-wrapper right">
        right
    </div>

</div>
