.header-container {
    background-color: white;
    width: var(--window-width);
    height: var(--header-height);
    display: grid;
    grid-template-columns: auto auto;
    overflow: visible;

    .header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: var(--header-height);
        overflow: visible;
    }

    .header-wrapper.left {
        overflow: visible;

        .header-logo {
            // background-color: lime;
            height: 100%;
            padding: 0 12px;
            display: flex;
            align-items: center;

            img {
                height: 32px;
            }
        }
    }

    .header-wrapper.right {
        justify-self: end;
        padding-right: 12px;
    }

    .header-button-bg-1 {
        background-color: var(--primary-background-1);
        height: 100%;
        overflow: visible;

        .header-button-bg-2 {
            background-color: white;
            height: 100%;
            display: flex;
            align-items: center;
            overflow: visible;

            .header-button-wrapper {
                background-color: rgba(44, 80, 103, 0.2);
                border: 1px solid rgba(44, 80, 103, 0.12);
                border-radius: 6px;
                height: 28px;
                min-width: 28px;
                margin: 0 3px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                transition: background-color .2s;
                transition: border .2s;

                [class*="icon"] {
                    font-size: 1.4em;
                }
            }

            .header-button-wrapper:hover {
                background-color: rgba(44, 80, 103, 0.6);
                border: 1px solid rgba(44, 80, 103, 0.4);
                cursor: pointer;

                span {
                    color: white;
                }
            }

            .header-button-wrapper.full {
                padding: 0 6px;

                [class*="icon"] {
                    margin-right: 6px;
                }

                [class*="icon-end"] {
                    margin-left: 6px;
                    margin-right: 0;
                }

                span.button-value {
                    position: relative;
                    top: -2px;
                }
            }
        }

        .dropdown {
            // background-color: yellow;
            position: relative;
            overflow: visible;

            .drop-button {
                // background-color: orange;
            }

            .drop-content-container {
                background-color: transparent;
                position: absolute;
                left: 3px;
                padding-top: 3px;
                z-index: 100;
                display: none;

                .drop-content-wrapper {
                    background-color: white;
                    border: 1px solid rgba(44, 80, 103, 0.6);
                    border-radius: 6px;
                    padding: 6px 8px;
                    min-width: 250px;
                    min-height: 300px;
                }
            }
        }

        .dropdown:hover .drop-content-container {
            display: block;
        }



        .dropdown:hover .header-button-wrapper.full.drop-button {
            background-color: rgba(44, 80, 103, 0.6);
            border: 1px solid rgba(44, 80, 103, 0.4);

            span {
                color: white;
            }
        }


    }

    // Header-Button (PRE-ACTIVE)
    // **************************
    .header-button-bg-1.pre-active {
        .header-button-bg-2 {
            border-radius: 0 0 8px 0;

            .header-button-wrapper {
                margin: 0 6px 0 3px;
            }
        }
    }

    // Header-Button (ACTIVE)
    // **********************
    .header-button-bg-1.active {
        position: relative;
        top: 6px;
        border-radius: 8px 8px 0 0;

        .header-button-bg-2 {
            background-color: transparent;

            .header-button-wrapper {
                background-color: transparent;
                border: none;
                position: relative;
                top: -5px;

                span {
                    color: white;
                }
            }
        }
    }

    // Header-Button (POST-ACTIVE)
    // **************************
    .header-button-bg-1.post-active {
        .header-button-bg-2 {
            border-radius: 0 0 0 8px;

            .header-button-wrapper {
                margin: 0 3px 0 6px;
            }

            .dropdown {
                margin: 0 3px 0 6px;
            }

        }
    }













}
